/* General */
aside {
    max-width: 250px;
    min-width: 150px;
    width: 200px;
    background-color: var(--black);
    flex-direction: column;
    z-index: 19;
}

aside span {
    color: var(--grey);
    font-size: .8125rem;
    padding-left: 5px;
}
aside span:hover{
    cursor: pointer;
}
aside .icon {
    width: 30px;
}

aside .box-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--grey);
}

aside .box-home{
    padding-top: 60px;
}

/* Superiore */
aside .box-home>li{
    margin: 5px 0;
}
aside .box-home a{
    display: flex;
    align-items: center;
}

aside .white span{
    color: var(--white);
}
aside .secondo-logo-box{
    display: none;
}
/* Center */
aside .center-aside .box-home div {
    margin-top: 10px;
}

aside .create-playlist {
    color: var(--white);
}

aside .playlist {
    display:none;
    flex-grow:1;
    overflow-y: hidden;

}
aside .playlist .list-playlist {
    flex-grow:1;
    overflow-y: auto;
}

aside .create-playlist button {
    background-color: var(--grey);
    font-size: 1.875rem;
    padding: 2px 10px;
    font-weight: bolder;
}

aside .create-playlist h3 {
    font-size: .875rem;
}

aside .playlist li {
    font-weight: 400;
    color: var(--grey);
    margin: .9375rem 0;
    font-size: .8125rem;
}
aside .playlist {
    display:flex;
    flex-direction: column;
}

/* Bottom */
aside .bottom {
    margin-top: auto;
    padding-bottom: .625rem;
}
aside .bottom .download .icon {
    width: 16px;
}

aside .bottom .download {
    padding: 10px 0;
}

aside .bottom .download .icon span {
    margin: 10px 5px 0 0;
}

aside .bottom .personal {
    margin: 10px 5px 0 0;
}
aside .bottom .personal .icon {
    margin: 0 5px 0 0;
}

aside .bottom .personal span {
    color: white;
    font-size: 15px;
    padding: 10px 0;
}

aside .personal span.name {
    font-size: .75rem;
}

aside .hr-full {
    margin: 0 5px;
}

/* Mobile */
@media screen and (max-width: 552px) {

    aside span,
    .logo-box img,
    aside li,
    aside .playlist,
    aside .hr-full {
        display: none;
    }
    aside .secondo-logo-box {
        display: block;
        padding-bottom: .3125rem;
    }
    aside .box-home{
        padding-top: 20px;
        align-items: center;
    }
    aside {
        justify-content: center;
    }
    aside img{
        display: block;
    }
    aside .bottom img {
        width: 100%;
    }
    aside .bottom .download .icon {
        width: 100%;
    }
    aside .download .icon{
        width: 100%;
    }
    aside .icon{
        width: 100%;
    }
    aside .bottom .personal {
        margin: 0;
    }
    aside .download{
        width: 60%;
        margin: 0 auto;
    }
    aside {
        width: 5vw;
        min-width: 2%;
    }

    aside .box-home {
        margin: 0 0 20px 0;
    }

    aside .icon {
        margin: 5px 0;
    }
}