/* General */
aside {
    max-width: 250px;
    width: 200px;
    background-color: var(--black);
    flex-direction: column;
    height: 100%;
}

aside span {
    color: var(--grey);
    font-size: .8125rem;
    padding-left: 5px;
}

aside .top-aside,
aside .bottom {
    padding: 15px 0 5px 0;
}

aside .icon {
    width: 30px;
}

aside .logo-box {
    width: 35%;
}

aside .logo-box img {
    width: 7.875rem;
    padding-right: 5px;
}

aside .box-profile img {
    border-radius: 50%;
    background-color: var(--grey);
}

aside .secondo-logo-box {
    display: none;
}

/* Superiore */
aside .home-icon span {
    color: var(--white);
}

/* Center */
aside .center-aside .box-home div {
    margin-top: 10px;
}

aside .create-playlist {
    color: var(--white);
}

aside .top-aside {
    overflow: hidden;
}

aside .box-nav{
    overflow-y: auto;
    flex-grow: 1;
    min-height: 150px;
}

aside .create-playlist button {
    background-color: var(--grey);
    font-size: 1.875rem;
    padding: 2px 10px;
    font-weight: bolder;
}

aside .create-playlist h3 {
    font-size: .875rem;
}

aside li {
    font-weight: 400;
    color: var(--grey);
    margin: 1.25rem 0;
    font-size: .8125rem;
}

/* Bottom */
aside .bottom .download .icon {
    width: 16px;
}

aside .bottom .download {
    padding: 10px 0;
}

aside .bottom .download .icon span {
    margin: 10px 5px 0 0;
}

aside .bottom .personal .icon {
    margin: 10px 3px 0 0;
}

aside .bottom .personal span {
    color: white;
    font-size: 15px;
    padding: 10px 0;
}

aside .personal span.name {
    font-size: .75rem;
}

aside .hr-full {
    margin: 0 5px;
}




/* Mobile */
@media screen and (max-width: 575px) {

    aside span,
    aside .top-aside .logo-box,
    aside li,
    aside .playlist,
    aside .hr-full {
        display: none;
    }

    aside .secondo-logo-box {
        display: block;
    }

    aside {
        justify-content: center;
    }

    aside .top-aside img,
    aside .bottom img {
        width: 100%;
    }

    aside {
        width: 5vw;
        min-width: 2%;
    }

    aside .box-home {
        margin: 0 0 20px 0;
    }

    aside .icon {
        margin: 5px 0;
    }
}