.d-flex{
    display: flex;
}

.row{
    display: flex;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--grey);
}

img{
    width: 100%;
    display: block;
}

.padding{
    padding: 1.25rem;
}

.mt-30{
    margin: 30px 0;
}
.mt-20{
    margin: 20px 0;
}
.mt-10{
    margin: 10px 0;
}

.a-center{
    align-items: center;
}
.flex-dir-column {
    flex-direction: column;
}
.jc-spbetween{
    justify-content: space-between;
}

.jc-sparound{
    justify-content: space-around;
}

.btn {
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.padding{
    padding: 0 .9375rem;
}