main {
    width: calc(100% - 230px);
    background-color: var(--primary-color);
    overflow-y: auto;
}
/* Header Section */
#header-section{
    top: 0;
    right: 5px;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    z-index: 998;
}
#header-section .btn{
    padding: 15px 40px;
    background-color: black;
    border-radius: 30px;
    color: white;
    border: 1px solid white;
}

#header-section .logo-box {
    width: 9rem;
}

#header-section  .logo-box img {
    padding-left: 20px;
}

/* Superiore */
#header-section .white span{
    color: var(--white);
}
/* /Header Section */
main #category ul{
    width: 100%;
    justify-content: center;
    padding: 120px 0 0 0;
    font-size: .8125rem;
    gap: 25px;
}
/* Nav */
main #category a{
    color: var(--grey);
}
/* /Nav */

/* Section Cards */
main .card{
    width: calc(100%/6);
    padding: 10px 6px; 
}
main .card h3{
    font-size: 15px;
}
main img{
    width: 100%;
}
main h2, main h3{
    color: var(--white);
}
main h3, main .row p{
    text-align: center;
}
main h3{
    margin-top: .9375rem;
}
main .row{
    margin-top: 1.25rem;
    width: 100%;
}
main section:not(:first-child){
    margin-top: 2.125rem;
}
main p{
    color: var(--grey);
    padding: 10px 10px;
}
main .card .box{
    max-width: 400px;
}

main .card .border-radius-img img{
    border-radius: 50%;
}

main #popular-artists{
    padding-bottom: 1.25rem;
}
/* /Section Cards */


/* Desktop */
@media screen and (max-width: 878px) {
    main {
        flex-grow: 1;
    }
    main .card{
        width: calc(21%);
    }
    main .row{
        flex-wrap: wrap;
    }
}
/* Tablet */
@media screen and (max-width: 640px) {
    main .card{
        width: 45%;
    }
    main .row{
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* Mobile */
@media screen and (max-width: 552px) {
    #header-section span,
    #header-section .logo-box img,
    #header-section .logo-box{
        display: none;
    }
    #header-section{
        justify-content: flex-end;
    }

    #header-section .secondo-logo-box{
        width: 2rem;
    }

    main .card{
        width: 45%;
    }
    main .row{
        flex-wrap: wrap;
        justify-content: center;
    }
}