@import url(reset.css);
@import url(variabiles.css);
@import url(common.css);
@import url(typo.css);
@import url(header.css);
@import url(aside.css);
@import url(main.css);
@import url(footer.css);

body{
     background-color: var(--primary-color);
     height: 100vh;
}

#screen-app{
    min-height: 100px; 
    height: calc(100% - 80px); 
}

